/* ---- reset ---- */

html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  
}

h1, h2, h3, h4, h5, h6{
  font-family: 'MedievalSharp', cursive;
  margin: 0;
  padding: 0;
  color: #920F15;
  font-size: 2.3em;
}

p {
  font-family: 'MedievalSharp', cursive;
  margin: 0;
  padding: 0;
  color: #E8212D;
  font-size: 2em;
}

span {
  font-family: 'MedievalSharp', cursive;
  font-size: 1.5em;
  margin: 10px;
}
button{
  width: 150px;
  height: 40px;
  background: linear-gradient(45deg, #920F15, #E8212D);
  border-radius: 20px;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: 'MedievalSharp', cursive;
}

/* --- layout --- */

#main-container {
  padding-bottom: 30px;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('./images/oktoberfest-bckground.png');
  background-size: 100% 100%;
}


.container {
  padding: 10px 13px;
}
.splash.container{
  background-color: rgba(255, 255, 255, 0.45);
}
@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* --- components --- */
.splash, .gameover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash__title {
  margin-bottom: 10px;
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.game__header {
  display: flex;
  justify-content: space-between;
}

.game__canvas {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);;
}

.gameover img{
  height: 50%;
  width: 50%;
}